<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>JS 심화 실습</title>
        <!-- CSS 연결 -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>💜JS 실습💜 하다가 화내지 말기</h1>
            <div class="section">
                <h2>1. 상품 카드 출력</h2>
                <div id="product_list"></div>
            </div>
            
            <div class="section">
                <h2>2. 댓글 작성 기능</h2>
                <input id="comment_input" placeholder="댓글을 입력하세요" />
                <button id="submit_comment">댓글 작성</button>
                <ul id="comment_list"></ul>
            </div>
            
            <div class="section">
                <h2>3. 좋아요 버튼</h2>
                <button id="likeBtn">❤️ 0</button>
            </div>
            
            <div class="section">
                <h2>4. 게시판 만들기</h2>
                <input id="title" placeholder="제목" /><br /><br />
                <textarea id="content" placeholder="내용"></textarea><br /><br />
                <input type="file" id="image_upload" accept="image/*" />
                <button id="writeBtn">작성</button>
                <hr>
                <div id="board"></div>
            </div>
        
    </body>
    <!-- JS 연결 -->
    <script src="{% static 'js/function.js' %}"></script>
</html>
