/* css를 참고해서 JS 코드를 작성해 주세요! */

body {
    font-family: sans-serif;
    padding: 1rem;
    background-color: #000000;
    color: #EFEEEA;
}

.section {
    margin-bottom: 2rem;
    background-color: #EFEEEA;
    color: #273F4F;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* 실습 1 상품 카드 css */
/* 실습 1 상품 카드 css */
/* 실습 1 상품 카드 css */

.card {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.005); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.product_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: 8px;
}
.card_content {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.product_name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}
.product_price,
.product_stock {
    font-size: 1rem;
    margin: 2px 0;
}

/* 품절 상품에 추가할 CSS class */
.soldOut {
    background-color: #d3d3d3;
    opacity: 0.6;
}

/* 2번 댓글 달기 기능에 사용되는 CSS */
/* 2번 댓글 달기 기능에 사용되는 CSS */
/* 2번 댓글 달기 기능에 사용되는 CSS */

button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #FE7743;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

input, textarea {
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

ul {
    padding-left: 1.2rem;
}

li {
    margin-bottom: 0.5rem;
}

.comment_card {
    background-color: #d3d3d3;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.comment_content {
    margin: 0;
    font-size: 1rem;
}

/* 3번 좋아요 버튼 만들기에 필요한 CSS */
/* 3번 좋아요 버튼 만들기에 필요한 CSS */
/* 3번 좋아요 버튼 만들기에 필요한 CSS */

#likeBtn{
    padding: 3rem;
    font-size: 6rem;
    color: #273F4F;
    background-color: #d3d3d3;
}

/* 4번 게시판 만들기에 필요한 CSS */
/* 4번 게시판 만들기에 필요한 CSS */
/* 4번 게시판 만들기에 필요한 CSS */

.post_card {
    position: relative;
    background-color: #d3d3d3;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
    min-width: 600px;
}
.post_card h2{
    margin-top: 0;
}
.post_img {
    width: 100%;
    max-width: 50vw;
    max-height: 50vh;
    margin-top: 0.5rem;
    border-radius: 6px;
}
.deleteBtn {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    background-color: #6366f1;
    position: absolute;
    right: 0.3rem;
    bottom: 0.5rem;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

